<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkw.springboot.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.zkw.springboot.bean.User">
    <id column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="position_x" jdbcType="INTEGER" property="positionX" />
    <result column="position_y" jdbcType="INTEGER" property="positionY" />
    <result column="scenes" jdbcType="VARCHAR" property="scenes" />
  </resultMap>
  <sql id="Base_Column_List">
    account, password, username, position_x, position_y, scenes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user
    where account = #{account,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zkw.springboot.bean.User">
    insert into t_user (account, password, username, 
      position_x, position_y, scenes
      )
    values (#{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{positionX,jdbcType=INTEGER}, #{positionY,jdbcType=INTEGER}, #{scenes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zkw.springboot.bean.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="positionX != null">
        position_x,
      </if>
      <if test="positionY != null">
        position_y,
      </if>
      <if test="scenes != null">
        scenes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        #{positionX,jdbcType=INTEGER},
      </if>
      <if test="positionY != null">
        #{positionY,jdbcType=INTEGER},
      </if>
      <if test="scenes != null">
        #{scenes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zkw.springboot.bean.User">
    update t_user
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        position_x = #{positionX,jdbcType=INTEGER},
      </if>
      <if test="positionY != null">
        position_y = #{positionY,jdbcType=INTEGER},
      </if>
      <if test="scenes != null">
        scenes = #{scenes,jdbcType=VARCHAR},
      </if>
    </set>
    where account = #{account,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zkw.springboot.bean.User">
    update t_user
    set password = #{password,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      position_x = #{positionX,jdbcType=INTEGER},
      position_y = #{positionY,jdbcType=INTEGER},
      scenes = #{scenes,jdbcType=VARCHAR}
    where account = #{account,jdbcType=VARCHAR}
  </update>
</mapper>